@font-face {
    font-family: 'DM Sans';
    src: url(./DMSans-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}
    
@font-face {
    font-family: 'DM Sans';
    src: url(./DMSans-SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./DMSans-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Manrope';
    src: url(./Manrope-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Manrope';
    src: url(./Manrope-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Manrope';
    src: url(./Manrope-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}